@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MovieTheater.Models.Member>

<h2 class="text-center">Member Management</h2>

@if (Model == null || !Model.Any())
{
    <p>Empty list!</p>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr class="text-center">
                <th>Member ID</th>
                <th>Full Name</th>
                <th>Identity card</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                @if (User.IsInRole("Admin"))
                {
                    <th style="width: 150px;">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr class="text-center">
                    <td>@member.MemberId</td>
                    <td>@member.Account.FullName</td>
                    <td>@member.Account.IdentityCard</td>
                    <td>@member.Account.Email</td>
                    <td>@member.Account.PhoneNumber</td>
                    <td>@member.Account.Address</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <a href="@Url.Action("Edit", "Admin", new { id = member.AccountId })" class="btn btn-sm btn-primary">Edit</a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
