@model IEnumerable<MovieTheater.Models.Member>

<h2 class="text-center">Member List</h2>

@if (Model == null || !Model.Any())
{
    <p>Empty list!</p>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr class="text-center">
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Register Date</th>
                <th>Score</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr class="text-center">
                    <td>@member.Account.Username</td>
                    <td>@member.Account.FullName</td>
                    <td>@member.Account.Email</td>
                    <td>@member.Account.PhoneNumber</td>
                    <td>@member.Account.RegisterDate?.ToString("d")</td>
                    <td>@member.Score</td>
                    <td>@member.Account.Rank?.RankName</td>
                </tr>
            }
        </tbody>
    </table>
} 