@{
    ViewData["Title"] = "Home";
    var movies = ViewBag.Movies as IEnumerable<MovieTheater.Models.Movie>;
    var promotions = ViewBag.Promotions as IEnumerable<MovieTheater.Models.Promotion>;
}
<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
<!-- OWL CAROUSEL -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<!-- BOX ICONS -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<!-- APP CSS -->
<link rel="stylesheet" href="~/css/grid.css" />
<link rel="stylesheet" href="~/css/app.css" />

<!-- HERO SECTION -->
<div class="hero-section">
    <!-- HERO SLIDE -->
    <div class="hero-slide">
        <div class="owl-carousel carousel-nav-center" id="hero-carousel">
            @foreach (var movie in movies ?? Enumerable.Empty<MovieTheater.Models.Movie>())
            {
                <div class="hero-slide-item">
                    <img src="@movie.LargeImage" alt="@movie.MovieNameEnglish">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                @movie.MovieNameEnglish
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>@movie.Duration mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                @movie.Content
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="@Url.Action("Detail", "Movie", new { id = movie.MovieId })" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Book now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- END HERO SLIDE -->
    <!-- TOP MOVIES SLIDE -->
    <div class="top-movies-slide">
        <div class="owl-carousel" id="top-movies-slide">
            @foreach (var movie in movies ?? Enumerable.Empty<MovieTheater.Models.Movie>())
            {
                <div class="movie-item">
                    <img src="@movie.SmallImage" alt="@movie.MovieNameEnglish">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            @movie.MovieNameEnglish
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>@movie.Duration mins</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- END TOP MOVIES SLIDE -->
</div>
<!-- END HERO SECTION -->

<!-- PROMOTION SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            PROMOTION
        </div>
        <div class="owl-carousel movies-slide carousel-nav-center">
            @foreach (var promo in promotions ?? Enumerable.Empty<MovieTheater.Models.Promotion>())
            {
                <div class="movie-item">
                    <img src="@promo.Image" alt="Promotion">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            @promo.Title
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <span>@promo.Detail</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- END PROMOTION SECTION -->

<!-- FOOTER SECTION -->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores, quibusdam?
                    </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Flix</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Download app</b></p>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">
                                        <img src="~/images/google-play.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/app-store.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->

<!-- COPYRIGHT SECTION -->
<div class="copyright">
    Copyright 2024 <a href="#" target="_blank">
        Team03</a>
</div>
<!-- END COPYRIGHT SECTION -->

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/js/app.js"></script>
}
