@model IEnumerable<MovieTheater.ViewModels.MovieViewModel>

@if (!Model.Any())
{
    <div class="text-center w-100">
        <h3>No movies found</h3>
    </div>
}
else
{   
    @foreach (var movie in Model)
    {
        <a href="@Url.Action("Detail", "Movie", new { id = movie.MovieId })" class="text-decoration-none text-reset">
            <div class="movie-card col">
                <div class="movie-poster row">
                    <img src="@Url.Content(movie.SmallImage)" alt="@movie.MovieNameEnglish">
                </div>
                <div class="movie-info row">
                    <h3 class="movie-title">@movie.MovieNameEnglish</h3>
                    <div class="chip-list" style="margin-bottom: 0.25rem;">
                        @if (movie.Types != null)
                        {
                            @foreach (var type in movie.Types)
                            {
                                <span class="chip">@type.TypeName</span>
                            }
                        }
                    </div>
                    <div class="chip-list">
                        @if (movie.Versions != null)
                        {
                            @foreach (var version in movie.Versions)
                            {
                                <span class="chip">@version.VersionName</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </a>
    }
}
